html {
    font-family: 'Indie Flower', cursive;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 100px;
}

.projectContent, .profileContent, .contactContent {
    margin-top: 70px;
}

/* #item1 {
    padding: 20px;
    background: grey;
    border-radius: 10px;
} */

#gear {
    margin: 20px;
    width: 200px; 
    height: 200px;    
    -webkit-animation: spin 100s infinite linear;
}

#item1:hover {
    background: lightpink;
}

@-webkit-keyframes spin {
    0%  {-webkit-transform: rotate(0deg);}
    100% {-webkit-transform: rotate(360deg);}   
}


.row2 {
   left: 50px;
}


.column {
    border-radius: 10px;
}

a {
    text-decoration: none;
}

h1 {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    cursor: pointer;
}

#stock, #addBook, #crypto {
    width: 350px;
    border-radius: 10px;
}

.projectsRow {
    
}

#profile p{
    color: black;
    text-align: center;
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    margin-top: 30px;
}

#profile {

}


.homePix {
    width: 250px;
    border-radius: 10px;
}

img,h1 {
    -webkit-transformation: 0.3s ease-in-out, -webkit-transformation 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out, -moz-transform 0.3s ease-in-out;
    transition: 0.3s ease-in-out, transform 0.3s ease-in-out;
    cursor: pointer;
    margin: 10px;
}

img:hover, h1:hover {
    transform: scale(1.05);
}

/* mobile responsive */

@media only screen and (max-width: 600px) {
    body {
        background-color: lightblue;
        
    }

    .container {
        flex-direction: column;
        /* margin-left: 70px; */
        justify-content: center;
    }

    .homePix {

    }

    /* #three {
        order: 2;
    }

    #one {
        order: 3;
    }
    
    #two {
        order: 1;
    } */
}